html,
body {
  background: #070b15 radial-gradient(closest-corner, rgba(255,255,255,0), rgba(255,255,255,.1));
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@keyframes outer {
  from { transform: rotate(0); }
  to   { transform: rotate(1turn); }
}
.outer {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: outer linear 3s infinite;
}
.inner {
  width: .1em;
  height: .1em;
  font-size: 20vmin;
  position: absolute;
  margin: -.1em 0 0 -.1em;
}

@for $i from 1 through 8 {
  .inner:nth-child(#{$i + 1}) {
    transform: rotate(40deg * $i);
  }
}

@keyframes after {
  from { transform: translateX(.25); }
  50%  { transform: translateX(-30vmin); -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}
.inner::after {
  content: '';
  display: block;
  border-radius: 50%;
  font-size: 20px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 100%;
  left: 100%;
  animation: after 3s infinite;
  color: #0ff;
  background: radial-gradient(currentColor, transparent 75%);
  transform-origin: center;
}

.hide {
  opacity: 0;
  transition: opacity .5s;
}

@for $i from 1 through 9 {
  .inner:nth-child(#{$i}) {
    &::after {
      animation-delay: #{$i}s;
    }
    &::after,
    :after {
      color: hsl($i * 40, 100%, 50%);
    }
  }
}

.inner {
  &:nth-child(even) {
    animation-direction: reverse;
  }
}
